<h1>Login</h1>

<form action="/sessions" method="POST"">
  <p>
    <label for="email">Email:</label>
    <input type="email" name="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </p>
  <input type="submit">

</form>
